body {
	font-family: 'FranklinGothicLTCom-Bk', Arial, sans-serif;
	font-size: 1em;
}


// Typography

.small-bold-text {
	font-family: $font-bold;
	font-size: 0.7rem;
	letter-spacing: 0.05em;
	text-transform: uppercase;	
}

h1 {
	font-size: 1rem;
	font-family: $font-bold;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

h2 {
	font-size: 1rem;
	font-family: $font-bold;
	letter-spacing: 0.05em;	
}

h3 {
	@extend .small-bold-text;
}

figcaption {
	@extend .small-bold-text;
	text-align: center;
}

strong {
	font-family: $font-bold;
	font-weight: normal;
}

.quote__attribution {
	@extend .small-bold-text;
}



// Layout Structure

article {
	display: flex;
	flex-direction: column;	
	align-items: right;
	justify-content: space-around;	
}

section {
	width: 100%;
	display: flex;
	flex-direction: row;		
}

.l-spread {
	width: 100%;
}

.l-page {
	@media #{$small-up} { 
		width: 100%;
	}
	@media #{$medium-up} {
		width: 50%;
	}	
}
.page--left, .l-page {
	float: left;
}
.page--right {
	float: right;	
}


.article--00 {
	background: $ag-yellow;
}


// Split Background
	@media #{$medium-up} {
		@mixin half-background($bg-url) {
			background: $ag-yellow;
			background: linear-gradient(
			    to right,
			    rgba(0,0,0, 0) 50%,
			    rgba(255,255,255, 100) 50%
			  ),url($bg-url);
		}
		.article--01 {
			@include half-background("../assets/images/inflicted.png");			
		}
		.article--02 {
			@include half-background("../assets/images/pinstriped_suit.png");			
		}
		.article--03 {
			@include half-background("../assets/images/inflicted.png");			
		}
		.article--04 {
			@include half-background("../assets/images/pinstriped_suit.png");			
		}			
		.article--05 {
			@include half-background("../assets/images/inflicted.png");			
		}
		.article--06 {
			@include half-background("../assets/images/pinstriped_suit.png");			
		}					
		
	}
	
	
// Magellan Sub-Nav

@media #{$small-up} { 
	.l-magellan {
		display: none;
	}
}
@media #{$medium-up} {
	.l-magellan {
		display: block;
	}
}	

.sub-nav {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;	
	align-items: center;
	justify-content: space-around;
}

.sub-nav dt, .sub-nav dd {
	@extend .small-bold-text;
	margin-left: 0;
}

.sub-nav dt a:hover, .sub-nav dd a:hover,
.sub-nav dt.active a, .sub-nav dd.active a {
	text-decoration: underline;
}


