body {
	font-family: 'FranklinGothicLTCom-Bk', Arial, sans-serif;
}

* + * {
	margin-top: 1.6em;
}
	.close-reveal-modal {
		margin-top: 0;
	}



// Typography

.text--white {
	color: $white;
}
.text--yellow {
	color: $ag-yellow;
}
.text--center {
	text-align: center;
}

.small-bold-text {
	font-family: $font-bold;
	font-size: 0.7rem;
	letter-spacing: 0.05em;
	text-transform: uppercase;	
}

.big-bold-text {
	font-size: 1rem;
	font-family: $font-bold;
	letter-spacing: 0.05em;
}

h1 {
	@extend .big-bold-text;
	text-transform: uppercase;
}

h2 {
	@extend .big-bold-text;
}

h3 {
	@extend .small-bold-text;
}

figcaption {
	@extend .small-bold-text;
	text-align: center;
	.page--dark & {
		color: $white;
	}
}

strong {
	font-family: $font-bold;
	font-weight: normal;
}

a, a:active, a:visited {
	color: $black;
	border-bottom: 1px solid $ag-yellow;	
	transition: all 0.2s;
	&:hover {
		color: $black;
		background: $ag-yellow;
	}
	&.link--modal,
	.l-magellan &,
	&.close-reveal-modal {
		border: none;
		background: none;
	}
	.page--dark & {
		color: $white;
	}
	.page--dark &:hover {
		color: $black;
	}
	.page--dark &.link--modal {
		color: $ag-yellow;
	}
	.page--dark &.link--modal:hover {
		color: $white;
	}
	.page--yellow & {
		border-bottom: 1px solid $white;
	}
	.page--yellow &:hover {
		background: $white;
	}
}

p {
	margin-bottom: 1.6em;
	.page--dark & {
		color: $white;
	}
}

q {
	color: $base;
}

.quote__attribution {
	@extend .small-bold-text;
	color: $base;	
}

.link--modal {
	color: $ag-yellow;
}

.cover--title {
	font-size: 7rem;
	line-height: 6rem;
	text-transform: capitalize;
	font-family: $font-base;
	letter-spacing: -0.03em;
	@extend .text--white;
}

.cover--subtitle {
	@extend .text--white;
	@extend .big-bold-text;
	text-transform: uppercase;	
}



// Layout Structure

$element-padding: 4rem;

article {
	display: flex;
	flex-direction: column;	
	align-items: right;
	justify-content: space-around;	
	margin-top: 0;
	padding-top: $element-padding;
	padding-bottom: $element-padding;
}

section {
	width: 100%;
	display: flex;
	&.page--left {
		flex-direction: row;
	}
	&.page--right {
		flex-direction: row-reverse;
	}
	&.page--down {
		flex-direction: column;
	}
}

.l-spread {
	width: 100%;
}

.l-page {
	@media #{$small-up} { 
		width: 100%;
	}
	@media #{$medium-up} {
		width: 50%;
	}	
}

.text--frame {
	background: $white;
	padding-top: 1em;
	padding-bottom: 1em;
	h1 {
		margin-bottom: 0;	
	}
}
.content--frame {
	@extend .text--frame;
	padding: $element-padding;
}

hr {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	.rule--figure & {
		margin-top: 0;
		margin-bottom: 0;
		border: 1px dashed $ag-yellow;
	}
}

.rule--figure figcaption {
	margin-top: 0.2em;
}


// Backgrounds

.article--00 {
	background: $ag-yellow;
}
.article--07 {
	background: $ag-yellow;
}

@media #{$medium-up} {
	@mixin half-background($bg-url) {
		background: $ag-yellow;
		background: linear-gradient(
		    to right,
		    rgba(0,0,0, 0) 50%,
		    rgba(255,255,255, 100) 50%
		  ),url($bg-url);
	}
	.article--01 {
		@include half-background("../assets/images/inflicted.png");			
	}
	.article--02 {
		@include half-background("../assets/images/pinstriped_suit.png");			
	}
	.article--03 {
		@include half-background("../assets/images/inflicted.png");			
	}
	.article--04 {
		@include half-background("../assets/images/pinstriped_suit.png");			
	}			
	.article--05 {
		@include half-background("../assets/images/inflicted.png");			
	}
	.article--06 {
		@include half-background("../assets/images/pinstriped_suit.png");			
	}					
	
}



// Magellan Sub-Nav

@media #{$small-up} { 
	.l-magellan {
		display: none;
	}
}
@media #{$medium-up} {
	.l-magellan {
		display: block;
	}
}	

.sub-nav {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;	
	align-items: center;
	justify-content: space-around;
}

.sub-nav dt, .sub-nav dd {
	@extend .small-bold-text;
	margin-left: 0;
}

.sub-nav dt a:hover, .sub-nav dd a:hover,
.sub-nav dt.active a, .sub-nav dd.active a {
	text-decoration: underline;
}


