/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2d103b");
 
@font-face {font-family: 'FranklinGothicLTCom-Bk';src: url('../assets/webfonts/2D103B_0_0.eot');src: url('../assets/webfonts/2D103B_0_0.eot?#iefix') format('embedded-opentype'),url('../assets/webfonts/2D103B_0_0.woff2') format('woff2'),url('../assets/webfonts/2D103B_0_0.woff') format('woff'),url('../assets/webfonts/2D103B_0_0.ttf') format('truetype');}
 
@font-face {font-family: 'FranklinGothicLTCom-Md';src: url('../assets/webfonts/2D103B_1_0.eot');src: url('../assets/webfonts/2D103B_1_0.eot?#iefix') format('embedded-opentype'),url('../assets/webfonts/2D103B_1_0.woff2') format('woff2'),url('../assets/webfonts/2D103B_1_0.woff') format('woff'),url('../assets/webfonts/2D103B_1_0.ttf') format('truetype');}
 